<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>quicksand_font</key>
		<string>QuicksandBold-Regular</string>
		<key>candara_font</key>
		<string>Candara</string>
		<key>bahama_font</key>
		<string>NVTBahamasHeavyBold</string>
		<key>slide_details_color</key>
		<string>959595</string>
		<key>slide_title_color</key>
		<string>636363</string>
		<key>thumbnail_bg_color</key>
		<string>ffffff</string>
		<key>app_title_color</key>
		<string>e67263</string>
		<key>cell_bg_color</key>
		<string>eaeaea</string>
		<key>login_label</key>
		<string>LogIn</string>
		<key>tags_label</key>
		<string>Tags</string>
		<key>page_top_margin</key>
		<integer>55</integer>
		<key>search_textfield_height</key>
		<integer>25</integer>
		<key>API_BASE_URL</key>
		<string>https://www.slideshare.net/api/2/</string>
		<key>OEMBED_BASE_URL</key>
		<string>http://www.slideshare.net/api/oembed/2</string>
		<key>FAYE_BASE_URL</key>
		<string>ws://172.30.255.168:9292/faye</string>
		<key>SS_SERVER_BASE_URL</key>
		<string>http://172.30.255.168:3000/</string>
		<key>API_KEY</key>
		<string>nzpqg0UU</string>
		<key>API_SECRET</key>
		<string>UCE7pcPa</string>
		<key>top_view_bg_color</key>
		<string>008080</string>
		<key>search_view_bg_color</key>
		<string>333366</string>
		<key>user_view_bg_color</key>
		<string>2B3B4B</string>
		<key>search_textfield_border_color</key>
		<string>FFFFFFF</string>
		<key>slide_cell_height_iphone</key>
		<integer>95</integer>
		<key>slide_cell_height_ipad</key>
		<integer>210</integer>
		<key>slide_num_in_page</key>
		<integer>7</integer>
		<key>slide_control_view_height_ipad</key>
		<integer>150</integer>
		<key>slide_control_view_height_iphone</key>
		<integer>70</integer>
		<key>download_progress_color</key>
		<string>4689FF</string>
		<key>download_track_color</key>
		<string>D9E5FF</string>
		<key>page_view_one_threshold</key>
		<real>0.9</real>
		<key>page_view_left_threshold_iphone</key>
		<real>-0.2</real>
		<key>page_view_left_threshold_ipad</key>
		<real>-0.08</real>
		<key>user_screen_segmented_normal_color</key>
		<string>AFAA8F</string>
		<key>user_screen_segmented_height_ipad</key>
		<string>50</string>
		<key>user_screen_segmented_height_iphone</key>
		<string>37</string>
		<key>username_textfield_color</key>
		<string>80C861</string>
		<key>password_textfield_color</key>
		<string>56C3BE</string>
		<key>login_button_color</key>
		<string>FB4A56</string>
		<key>tag_bg_color</key>
		<string>17B28C</string>
	</dict>
</dict>
</plist>
