<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>slideshow_btn_bg_pressed</key>
		<string>513c34</string>
		<key>slideshow_btn_bg</key>
		<string>ffffff</string>
		<key>info_page_text_color</key>
		<string>ffffff</string>
		<key>info_title_text_color</key>
		<string>513c34</string>
		<key>info_pagenumber_bg_color</key>
		<string>513c34</string>
		<key>info_bg_color</key>
		<string>ffffff</string>
		<key>searchbar_text_color</key>
		<string>636363</string>
		<key>searchbar_plate</key>
		<string>Search</string>
		<key>searchbar_bg_color</key>
		<string>ffffff</string>
		<key>username_color</key>
		<string>ffffff</string>
		<key>quicksand_font</key>
		<string>QuicksandBold-Regular</string>
		<key>candara_font</key>
		<string>Candara</string>
		<key>bahama_font</key>
		<string>NVTBahamasHeavyBold</string>
		<key>slide_details_color</key>
		<string>959595</string>
		<key>slide_title_color</key>
		<string>636363</string>
		<key>thumbnail_bg_color</key>
		<string>ffffff</string>
		<key>app_title_color</key>
		<string>e67263</string>
		<key>cell_bg_color</key>
		<string>f7f7f7</string>
		<key>login_label</key>
		<string>LOGIN</string>
		<key>logout_label</key>
		<string>LOGOUT</string>
		<key>tags_label</key>
		<string>TAGS</string>
		<key>setting_label_color</key>
		<string>585A59</string>
		<key>page_top_margin_iphone</key>
		<integer>55</integer>
		<key>page_top_margin_ipad</key>
		<integer>90</integer>
		<key>search_textfield_height</key>
		<integer>25</integer>
		<key>API_BASE_URL</key>
		<string>https://www.slideshare.net/api/2/</string>
		<key>OEMBED_BASE_URL</key>
		<string>http://www.slideshare.net/api/oembed/2</string>
		<key>FAYE_BASE_URL</key>
		<string>ws://172.30.255.168:9292/faye</string>
		<key>SS_SERVER_BASE_URL</key>
		<string>http://172.30.255.168:3000/</string>
		<key>API_KEY</key>
		<string>nzpqg0UU</string>
		<key>API_SECRET</key>
		<string>UCE7pcPa</string>
		<key>top_view_bg_color</key>
		<string>008080</string>
		<key>search_view_bg_color</key>
		<string>333366</string>
		<key>user_view_bg_color</key>
		<string>2B3B4B</string>
		<key>search_textfield_border_color</key>
		<string>FFFFFFF</string>
		<key>slide_cell_height_iphone</key>
		<integer>95</integer>
		<key>slide_cell_height_ipad</key>
		<integer>210</integer>
		<key>slide_num_in_page</key>
		<integer>7</integer>
		<key>slide_control_view_height_ipad</key>
		<integer>150</integer>
		<key>slide_control_view_height_iphone</key>
		<integer>70</integer>
		<key>download_progress_color</key>
		<string>4689FF</string>
		<key>download_track_color</key>
		<string>D9E5FF</string>
		<key>page_view_one_threshold</key>
		<real>0.9</real>
		<key>page_view_left_threshold_iphone</key>
		<real>-0.15</real>
		<key>page_view_left_threshold_ipad</key>
		<real>-0.08</real>
		<key>user_screen_segmented_normal_color</key>
		<string>AFAA8F</string>
		<key>user_screen_segmented_pressed_color</key>
		<string>d9d9c7</string>
		<key>user_screen_segmented_height_ipad</key>
		<string>76</string>
		<key>user_screen_segmented_height_iphone</key>
		<string>37</string>
		<key>username_textfield_color</key>
		<string>80C861</string>
		<key>password_textfield_color</key>
		<string>56C3BE</string>
		<key>login_button_color</key>
		<string>FB4A56</string>
		<key>tag_bg_color</key>
		<string>17B28C</string>
		<key>tag_margin_iphone</key>
		<integer>7</integer>
		<key>tag_margin_ipad</key>
		<integer>12</integer>
		<key>tag_font_size_ipad</key>
		<integer>28</integer>
		<key>tag_font_size_iphone</key>
		<string>16</string>
		<key>setting_label_font_size_iphone</key>
		<integer>18</integer>
		<key>setting_label_font_size_ipad</key>
		<integer>30</integer>
		<key>default_username</key>
		<string>defaultuser</string>
		<key>default_tag</key>
		<string>Nodejs</string>
		<key>tag_max_num</key>
		<integer>4</integer>
		<key>drawing_pen_width_iphone</key>
		<integer>5</integer>
		<key>drawing_pen_width_ipad</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
